body {
	background: lightgray;
	font-family: Arial;
	margin-left: 0px;
	margin-right: 0px;
}

/* Style the Navagation Bar */
.navbar-brand{
	background-color: #1abc9c;
	color: white !important;
	font-family: Arial;
	font-weight: bold;
	margin-left: 30px; 
    padding: 10px; 
}

/* Change color on hover or active */
.visualization:hover {
	border-color: #1abc9c;
	border-style: solid;
}

.active {
	border-color: #1abc9c;
	border-style: solid; 
}

/* Column Container */
.row {  
	display: flex;
	flex-wrap: wrap;
}

/* Style Boxes */
.box {
	color: black;
	font-family: Arial;
	font-size: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 600px;
	padding: 5px;
}

  /* White Box Background */
.white {
	background: white;
}

  /* Style the Title for Boxes  */
.title{
    color: #1abc9c;  
	font-family: Arial;
	font-size: 30px;
    font-weight: bold; 
    padding-top: 5px; 
}

/* Reduce the Size of the Visualization Tables */
.visualization{
    height: 50% !important;
	width: 50% !important;
}


/* Style the Footer */
footer{
	background-color: darkgray;
	border-top-color: #1abc9c; 
	border-top-style: solid; 
	border-top-width: 5px; 
	color: white; 
	font-family: Arial;
	font-size: 15px;
	text-align: center;
	min-height: 60px;   
	position: fixed;
	padding-top: 15px;
	width: 100%; 
}

/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
	.row, .navbar-brand {   
	  flex-direction: column;
	  background-color: #1abc9c;
	  width: 100%;
	}
}